Babel
certifi
charset-normalizer
click
colorama
comtypes
idna
joblib
mysql
mysql-connector
mysql-connector-python
mysql-client
nltk
pypiwin32
PyQt5
PyQt5-Qt5
PyQt5-sip
pywin32
regex
requests
SpeechRecognition @ git+https://github.com/Uberi/speech_recognition.git@8bc8e2ca5dd19f5695f3cc449ada422d46e2e061
tkcalendar
tqdm
typing_extensions
urllib3
streamlit
